<div class="lawfirm-form-wrapper">
  <h2>{{ section.settings.page_title }}</h2>

  <form id="nameChangeForm" novalidate onsubmit="return false;">
    <!-- PRODUCT SELECTION -->
    <div class="from_grid_wpr">
      <div class="this_row">
        <div class="this_column-lg-6">
          <select id="productSelect" >
            <option value="">Select a product</option>
            {% for product in collections.all.products %}
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  data-image="{{ product.featured_image | image_url: width: 100 }}"
                  data-title="{{ product.title }} - {{ variant.title }}"
                  data-price="{{ variant.price | money }}"
                >
                  {% if variant.title == "Default Title" %}
                    {{ product.title }} ({{ variant.price | money }})
                  {% else %}
                    {{ product.title }} - {{ variant.title }} ({{ variant.price | money }})                  
                  {% endif %}

                </option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="this_column-lg-6">
          <input type="email" name="_Customer_Email" placeholder="Customer Email" >
        </div>
      </div>
      <div id="currentnameFields">
        <p class="sectionTitle">Name Details - Applicant Current Name</p>
        <div class="this_row">
          <div class="this_column-lg-4">
            <input type="text" name="_Current_First_Name" placeholder="Current First Name" >
          </div>
          <div class="this_column-lg-4">
            <input type="text" name="_Current_Middle_Name" placeholder="Current Middle Name" >
          </div>
          <div class="this_column-lg-4">
            <input type="text" name="_Current_Last_Name" placeholder="Current Last Name" >
          </div>
        </div>
      </div>
      <div class="this_row">
        <div class="this_column-lg-12">
          <label>
            <input type="checkbox" id="sameBirthName" checked>My birth name is the same as my current name
          </label>
        </div>
      </div>
      <div id="birthNameFields" style="display:none">
        <div class="this_row">
          <div class="this_column-lg-4">
            <input type="text" name="_Birth_First_Name" placeholder="Birth First Name">
          </div>
          <div class="this_column-lg-4">
            <input type="text" name="_Birth_Middle_Name" placeholder="Birth Middle Name">
          </div>
          <div class="this_column-lg-4">
            <input type="text" name="_Birth_Last_Name" placeholder="Birth Last Name">
          </div>
        </div>
      </div>
      <div class="this_row">
        <p class="sectionTitle">Name Details - Applicant New Name</p>
        <div class="this_column-lg-4">
          <input type="text" name="_New_First_Name" placeholder="New First Name" >
        </div>
        <div class="this_column-lg-4">
          <input type="text" name="_New_Middle_Name" placeholder="New Middle Name" >
        </div>
        <div class="this_column-lg-4">
          <input type="text" name="_New_Last_Name" placeholder="New Last Name" >
        </div>
      </div>
      <div class="this_row">
        <p class="sectionTitle">Applicant Details</p>
        <div class="this_column-lg-6">
          <input type="tel" name="_Contact_No" placeholder="+1 (XXX) XXX-XXXX" >
        </div>
        <div class="this_column-lg-6">
          <select name="_Document_Type" >
            <option value="">Which name change document are you applying with?</option>
            <option>Marriage Certificate</option>
            <option>Divorce Decree</option>
            <option>Court Order</option>
          </select>
        </div>
        <div class="this_column-lg-6">
          <div class="dob">
            <label>Applicant Date of Birth (MM/DD/YYYY)</label>
            <div class="this_row_small">
              {% comment %} <div class="this_column-small-lg-4">
                <input type="text" name="_DOB_MM" placeholder="MM" >
              </div>
              <div class="this_column-small-lg-4">
                <input type="text" name="_DOB_DD" placeholder="DD" >
              </div>
              <div class="this_column-small-lg-4">
                {% comment %} <input type="text" name="_DOB_YYYY" placeholder="YYYY" > {% endcomment %}
                 <select name="_DOB_YYYY" id="dobYear" >
                <option value="">YYYY</option>
              </select>
              </div> {% endcomment %}
              <div class="this_column-small-lg-6">
                  <input type="text" id="dobDisplay" placeholder="MM/DD/YYYY" readonly >
                  <!-- Hidden native calendar -->
                  <input type="date" id="dobPicker" style="position:absolute;opacity:0;height:0;width:0;" max="{{ 'now' | date: '%Y-%m-%d' }}">
                  <!-- Value stored for Shopify -->
                  <input type="hidden" name="_Applicant_DOB" id="dobValue">
              </div>

            </div>
          </div>
        </div>
        <div class="this_column-lg-6">
          <div class="radio-group">
            <label class="label">Applicant Sex</label>
            <label><input type="radio" name="_Applicant_Sex" value="Male" > Male</label>
            <label><input type="radio" name="_Applicant_Sex" value="Female" > Female</label>
          </div>
        </div>
        <div class="this_column-lg-6">
          <input type="text" name="_Birth_City" placeholder="Birth City" >
        </div>
        <div class="this_column-lg-6">
          <input
            type="text"
            name="_Birth_State_Country"
            placeholder="Birth State (if in the U.S.), or Country (if in foreign country)"
            
          >
        </div>
      </div>
      <div class="title_detail_combo">
        <p class="sectionTitle">Driver License & Passport Details</p>
        <div class="this_row">
          <div class="this_column-lg-6">
            <input
              type="text"
              name="_Parent_1_Name"
              placeholder="Mother/Father/Parent (1) - First, Middle, & Last Name (at Parent's Birth)"
              
            >
          </div>
          <div class="this_column-lg-6">
            <input
              type="text"
              name="_Parent_2_Name"
              placeholder="Mother/Father/Parent (2) - First, Middle, & Last Name (at Parent's Birth)"
              
            >
          </div>
        </div>
      </div>
      <div class="this_row">
        <div class="this_column-lg-6">
          <div class="radio-group">
            <label class="label">Will you be changing your name on your driver's license?</label>
            <label><input type="radio" name="_Change_Driver_License" value="Yes" > Yes</label>
            <label><input type="radio" name="_Change_Driver_License" value="No"> No</label>
          </div>
        </div>
        <div class="this_column-lg-6" id="dlState">
          {% assign us_states = "Alabama|Alaska|Arizona|Arkansas|California|Colorado|Connecticut|Delaware|Florida|Georgia|Hawaii|Idaho|Illinois|Indiana|Iowa|Kansas|Kentucky|Louisiana|Maine|Maryland|Massachusetts|Michigan|Minnesota|Mississippi|Missouri|Montana|Nebraska|Nevada|New Hampshire|New Jersey|New Mexico|New York|North Carolina|North Dakota|Ohio|Oklahoma|Oregon|Pennsylvania|Rhode Island|South Carolina|South Dakota|Tennessee|Texas|Utah|Vermont|Virginia|Washington|West Virginia|Wisconsin|Wyoming"
  | split: "|"
      %}
        <select name="_DL_State" id="dlstate" class="dlstate">
          <option value="">State Where You would like to apply for a driver license (Select If changing the name)</option>
          {% for state in us_states %}
            <option value="{{ state }}">{{ state }}</option>
          {% endfor %}
        </select>

        </div>
      </div>
      <div class="this_row">
        <div class="this_column-lg-12">
          <div class="radio-group">
            <label class="label">Will the applicant be Applying for a passport ?</label>
            <label><input type="radio" name="_Passport_Apply" value="Yes" > Yes</label>
            <label><input type="radio" name="_Passport_Apply" value="No"> No</label>
          </div>
        </div>
      </div>

      {% assign passport_questions = 'Do you have a passport?|Were you at least 16 when your most recent passport was issued?|Was your most recent passport issued less than 15 years ago?|Has your passport been damaged, mutilated, lost, or stolen?|Is your name changed due to marriage or court order?'
        | split: '|'
      %}
      <div id="passportFields" style="display:none">
        <div class="this_row">
          {% for q in passport_questions %}
            <div class="this_column-lg-6">
              <div class="radio-group">
                <label class="label">{{- q }}</label>
                <label><input type="radio" name="_{{ q | handle }}" value="Yes" > Yes</label>
                <label><input type="radio" name="_{{ q | handle }}" value="No"> No</label>
              </div>
            </div>
          {% endfor %}
          <div class="this_column-lg-12">
            <div class="this_row">
              <div class="this_column-lg-6">
                <label class="label">Height Feet</label>
                <select name="_Height_Feet" >
                  <option></option>
                  {% for i in (0..10) %}
                    <option>{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="this_column-lg-6">
                <label class="label">Height Inches</label>
                <select name="_Height_Inches" >
                  <option></option>
                  {% for i in (0..11) %}
                    <option>{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="this_column-lg-6">
                <label class="label">Hair Color</label>
                <select name="_Hair_Color" >
                  <option></option>
                  <option>Black</option>
                  <option>Blonde</option>
                  <option>Brown</option>
                  <option>Red</option>
                  <option>Gray</option>
                  <option>Bald</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="this_column-lg-6">
                <label class="label">Eye Color</label>
                <select name="_Eye_Color" >
                  <option></option>
                  <option>Amber</option>
                  <option>Black</option>
                  <option>Blue</option>
                  <option>Brown</option>
                  <option>Gray</option>
                  <option>Green</option>
                  <option>Hazel</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="this_row">
        <p class="sectionTitle">Permanent Address Details</p>
        <div class="this_column-lg-12">
          <textarea name="_Street_Address"  placeholder="Street Address"></textarea>
        </div>
        <div class="this_column-lg-6">
          <input
            type="text"
            name="_Address_Line_2"
            placeholder="Address Line 2 (APT/Unit) If you don't have address line 2 write N/A"
            
          >
        </div>
        <div class="this_column-lg-6">
          <input type="text" name="_Address_City" placeholder="City" >
        </div>
        <div class="this_column-lg-6">
          {% assign us_states = "Alabama|Alaska|Arizona|Arkansas|California|Colorado|Connecticut|Delaware|Florida|Georgia|Hawaii|Idaho|Illinois|Indiana|Iowa|Kansas|Kentucky|Louisiana|Maine|Maryland|Massachusetts|Michigan|Minnesota|Mississippi|Missouri|Montana|Nebraska|Nevada|New Hampshire|New Jersey|New Mexico|New York|North Carolina|North Dakota|Ohio|Oklahoma|Oregon|Pennsylvania|Rhode Island|South Carolina|South Dakota|Tennessee|Texas|Utah|Vermont|Virginia|Washington|West Virginia|Wisconsin|Wyoming"
  | split: "|"
      %}
          <select name="_Address_State" id="addressState">
            <option value="">Select State</option>
            {% for state in us_states %}
              <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="this_column-lg-6">
          <input type="text" placeholder="Postal Code" name="_Address_Postal_Code" >
        </div>
      </div>
    </div>
    {% comment %} <button type="submit">Submit & Checkout</button> {% endcomment %}
     <button type="button" id="submitFormBtn">Submit & Checkout</button>

  </form>
</div>

<style>
  /* ======================================================
     PAGE BACKGROUND (FULL WIDTH)
     ====================================================== */
  .from_grid_wpr{
    display: grid;
    row-gap: 24px;
  }
  .this_row{
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .this_row > *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .this_column-lg-12{
    flex: 0 0 auto;
    width: 100%;
  }
  .this_column-lg-6{
    flex: 0 0 auto;
    width: 50%;
  }
  .this_column-lg-4{
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .this_row_small{
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .this_row_small > *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .this_column-small-lg-4{
    flex: 0 0 auto;
    width: 33.33%;
  }
  .lawfirm-form-wrapper {
    width: 100%;
    background: #efefef;
    padding: 40px 0;
  }

  /* Centered boxed content */
  .lawfirm-form-wrapper > h2,
  .lawfirm-form-wrapper > form {
    max-width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 40px;
    box-sizing: border-box;
  }


  /* ======================================================
     HEADINGS & LABELS
     ====================================================== */
  .lawfirm-form-wrapper h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align:center;
    padding: 15px;
  }

  .lawfirm-form-wrapper h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 35px 0 15px;
  }

  /* Labels (non-placeholder text) */
  .lawfirm-form-wrapper label {
    font-size: 15px;
    font-weight: 500;
    color: #222;
    display: block;
  }

  /* ======================================================
     INPUTS / SELECT / TEXTAREA
     ====================================================== */
  .lawfirm-form-wrapper input,
  .lawfirm-form-wrapper select,
  .lawfirm-form-wrapper textarea {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    font-size: 14px;
    background: #fff;
  }

  /* ======================================================
     FIX WIDTH FOR CHECKBOX & RADIO (MOBILE SAFE)
     ====================================================== */
  .lawfirm-form-wrapper input[type="checkbox"],
  .lawfirm-form-wrapper input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0 6px 0 0;
    background: transparent;
    border: none;
  }


  .lawfirm-form-wrapper textarea {
    min-height: 90px;
    resize: vertical;
  }

  /* ======================================================
     CHECKBOX & RADIO GROUPS
     ====================================================== */

  /* Group label above radios/checkboxes */
  .lawfirm-form-wrapper label + label input[type="radio"],
  .lawfirm-form-wrapper label + label input[type="checkbox"] {
    margin-top: 0;
  }

  /* Checkbox / radio rows */
  .lawfirm-form-wrapper input[type="checkbox"],
  .lawfirm-form-wrapper input[type="radio"] {
    margin-right: 6px;
  }

  /* Inline radio options */
  .lawfirm-form-wrapper label input[type="radio"] {
    display: inline-block;
  }

  /* Keep radio options on same line */
  .lawfirm-form-wrapper label + label {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
  }

  /* ======================================================
     DOB + DOCUMENT TYPE SAME ROW
     ====================================================== */
  .lawfirm-form-wrapper select[name="_Document_Type"] {
    grid-column: 1 / 2;
  }


  /* ======================================================
     PASSPORT QUESTIONS
     ====================================================== */
  .passport-question {
    margin-bottom: 18px;
  }

  .passport-question > label:first-child {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .passport-question label {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
  }

  /* ======================================================
     DRIVER LICENSE STATE
     ====================================================== */
  #dlState {
    grid-column: 2 / 3;
  }

  /* ======================================================
     SUBMIT BUTTON
     ====================================================== */
  .lawfirm-form-wrapper button {
    background: #111;
    color: #fff;
    border: none;
    padding: 14px 50px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    margin: 32px auto 0;
    display: block;
  }

  /* ======================================================
     FOOT NOTE
     ====================================================== */
  .lawfirm-form-wrapper .form-note {
    text-align: center;
    font-size: 12px;
    color: #666;
  }

  /* ======================================================
     MOBILE RESPONSIVE
     ====================================================== */
  @media (max-width: 991px){
    .lawfirm-form-wrapper > h2, .lawfirm-form-wrapper > form{
      padding:32px
    }
  }

  @media (max-width: 767px) {
    .lawfirm-form-wrapper > h2, .lawfirm-form-wrapper > form{
      padding: 20px
    }
    .from_grid_wpr{
      row-gap: 20px
    }


    .this_row{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .this_row > *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .this_column-lg-12{
    flex: 0 0 auto;
    width: 100%;
  }
  .this_column-lg-6{
    flex: 0 0 auto;
    width: 100%;
  }
  .this_column-lg-4{
    flex: 0 0 auto;
    width: 100%;
  }
  .this_row_small{
    margin-left: -4px;
    margin-right: -4px;
    row-gap: 20px;
  }
    #dlState {
      grid-column: auto;
    }

    .passport-question label {
      margin-right: 20px;
    }
  }

  .label{
    margin-bottom: 4px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #222 !important;
    display: block !important;
  }

  .radio-group p{
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    display: block;
  }

  .radio-group label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

.sectionTitle {
    font-size: 18px;
    color: #000;
    padding-bottom: 15px;
    font-weight: 600;
}

.lawfirm-form-wrapper input.error,
.lawfirm-form-wrapper select.error,
.lawfirm-form-wrapper textarea.error,
.lawfirm-form-wrapper .radio-group.error {
  border: 1px solid red !important;
}

/* ======================================================
   RADIO GROUP ERROR FIX (CLEAN BOX)
   ====================================================== */

/* Normal radio group baseline */
.lawfirm-form-wrapper .radio-group {
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 10px;
}

/* Error state */
.lawfirm-form-wrapper .radio-group.error {
  border-color: #e00000;
  background-color: #fff5f5;
}

/* Label above radios */
.lawfirm-form-wrapper .radio-group .label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

/* Keep radio options aligned nicely */
.lawfirm-form-wrapper .radio-group label {
  display: inline-flex;
  align-items: center;
  margin-right: 24px;
}

/* Do NOT style individual radio buttons */
.lawfirm-form-wrapper input[type="radio"].error {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* ======================================================
   SECTION TITLE SPACING FIX
   ====================================================== */

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 24px 0 12px;   /* top | bottom */
  padding: 0;            /* remove padding-bottom */
}

/* First section title should not have extra top gap */
.sectionTitle:first-child {
  margin-top: 0;
}

/* ======================================================
   ROW GAP NORMALIZATION
   ====================================================== */

/* Reduce excessive vertical gaps */
.from_grid_wpr {
  row-gap: 20px;
}

.this_row {
  row-gap: 20px;
}

/* Avoid extra space when title is inside a row */
.this_row > .sectionTitle {
  margin-bottom: 10px;
}

/* ======================================================
   MOBILE TWEAK
   ====================================================== */
@media (max-width: 767px) {
  .sectionTitle {
    margin: 20px 0 10px;
    font-size: 17px;
  }

  .from_grid_wpr,
  .this_row {
    row-gap: 16px;
  }
}


</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const form = document.getElementById("nameChangeForm");
  if (!form) return;

  const submitBtn = form.querySelector("button[type='submit'], #submitFormBtn");

  /* ================= VISIBILITY ================= */
  function isVisible(el) {
    return !!(el.offsetWidth || el.offsetHeight || el.getClientRects().length);
  }

  /* ================= ERROR HANDLING ================= */
  function clearErrors() {
    form.querySelectorAll(".error").forEach(el => el.classList.remove("error"));
  }

  function markError(el) {
    el.classList.add("error");
  }

  /* ================= TOGGLES ================= */

  // Birth name toggle
  document.getElementById("sameBirthName")?.addEventListener("change", e => {
    document.getElementById("birthNameFields").style.display =
      e.target.checked ? "none" : "block";
  });

  // Driver License toggle
  document.querySelectorAll('[name="_Change_Driver_License"]').forEach(el => {
    el.addEventListener("change", e => {
      const dl = document.getElementById("dlstate");
      if (!dl) return;

      if (e.target.value === "Yes") {
        dl.disabled = false;
      } else {
        dl.disabled = true;
        dl.value = "";
      }
    });
  });

  // Passport toggle
  document.querySelectorAll('[name="_Passport_Apply"]').forEach(el => {
    el.addEventListener("change", e => {
      document.getElementById("passportFields").style.display =
        e.target.value === "Yes" ? "block" : "none";
    });
  });

  /* ================= DOB PICKER ================= */
  (function () {
    const display = document.getElementById("dobDisplay");
    const picker = document.getElementById("dobPicker");
    const valueField = document.getElementById("dobValue");

    if (!display || !picker || !valueField) return;

    display.addEventListener("click", () => picker.showPicker?.());

    picker.addEventListener("change", function () {
      if (!this.value) return;
      const [y, m, d] = this.value.split("-");
      display.value = `${m}/${d}/${y}`;
      valueField.value = `${m}/${d}/${y}`;
    });
  })();

  /* ================= VALIDATION ================= */
  function validateForm() {
    let valid = true;
    clearErrors();

    /* ---- ALWAYS REQUIRED FIELDS ---- */
    const baseRequired = [
      "#productSelect",
      "input[name='_Customer_Email']",
      "input[name='_Current_First_Name']",
      "input[name='_Current_Last_Name']",
      "input[name='_New_First_Name']",
      "input[name='_New_Last_Name']",
      "input[name='_Contact_No']",
      "select[name='_Document_Type']",
      "input[name='_Applicant_DOB']",
      "input[name='_Birth_City']",
      "input[name='_Birth_State_Country']",
      "textarea[name='_Street_Address']",
      "input[name='_Address_City']",
      "select[name='_Address_State']",
      "input[name='_Address_Postal_Code']"
    ];

    baseRequired.forEach(selector => {
      const field = form.querySelector(selector);
      if (!field || !isVisible(field) || field.disabled) return;

      if (!field.value.trim()) {
        markError(field);
        valid = false;
      }
    });

    /* ---- CONDITIONAL SECTIONS (inputs/selects) ---- */
    const conditionalSections = [
      "#birthNameFields",
      "#passportFields",
      "#dlState"
    ];

    conditionalSections.forEach(sectionSelector => {
      const section = form.querySelector(sectionSelector);
      if (!section || !isVisible(section)) return;

      section.querySelectorAll("input, select, textarea").forEach(field => {
        if (!isVisible(field) || field.disabled) return;
        if (field.type === "radio" || field.type === "checkbox") return;

        if (!field.value.trim()) {
          markError(field);
          valid = false;
        }
      });
    });

    /* ---- GLOBAL RADIO GROUPS ---- */
    const globalRadioGroups = [
      "_Applicant_Sex",
      "_Change_Driver_License",
      "_Passport_Apply"
    ];

    globalRadioGroups.forEach(name => {
      const radios = [...form.querySelectorAll(`input[name="${name}"]`)]
        .filter(r => isVisible(r));

      if (!radios.length) return;

      if (!radios.some(r => r.checked)) {
        radios[0].closest(".radio-group")?.classList.add("error");
        valid = false;
      }
    });

    /* ---- CONDITIONAL RADIO GROUPS (KEY FIX) ---- */
    conditionalSections.forEach(sectionSelector => {
      const section = form.querySelector(sectionSelector);
      if (!section || !isVisible(section)) return;

      const radioNames = [
        ...new Set(
          [...section.querySelectorAll("input[type='radio']")]
            .filter(r => isVisible(r))
            .map(r => r.name)
        )
      ];

      radioNames.forEach(name => {
        const radios = [...section.querySelectorAll(`input[name="${name}"]`)]
          .filter(r => isVisible(r));

        if (!radios.length) return;

        if (!radios.some(r => r.checked)) {
          radios[0].closest(".radio-group")?.classList.add("error");
          valid = false;
        }
      });
    });

    return valid;
  }

  /* ================= SUBMIT (AJAX ONLY) ================= */
  submitBtn.addEventListener("click", function (e) {
    e.preventDefault();
    e.stopImmediatePropagation();

    if (!validateForm()) return;

    const variantId = document.getElementById("productSelect").value;
    if (!variantId) return;

    const properties = {};
    new FormData(form).forEach((v, k) => {
      if (v) properties[k] = v;
    });

    fetch("/cart/add.js", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        id: variantId,
        quantity: 1,
        properties: properties
      })
    })
      .then(res => res.json())
      .then(() => {
        window.location.href = "/checkout";
      })
      .catch(console.error);
  });

  /* ================= LIVE ERROR CLEAR ================= */
  form.addEventListener("input", e => e.target.classList.remove("error"));
  form.addEventListener("change", e => {
    e.target.classList.remove("error");
    e.target.closest(".radio-group")?.classList.remove("error");
  });
});
</script>







{% schema %}
{
  "name": "Law Firm Name Change Form",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Form Title",
      "default": "Name Change Application Form"
    }
  ],
  "presets": [
    {
      "name": "Law Firm Name Change Form"
    }
  ]
}
{% endschema %}